<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>{{ title }}</h2>
    </div>
</div>
<div class="row">
    <div *ngIf="selectedProperties" class="col-md-3">
        <div style="height: 400px; width: 120px; overflow:scroll; position:fixed;">
            <legend>Properties for </legend>
            <ul>
                <li *ngFor="let property of selectedProperties">
                    {{ property }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <form *ngIf="model" class="form" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !compnos.valid }">
                <label for="compnos">compnos</label>
                <input type="text" class="form-control" name="compnos" [(ngModel)]="model.compnos" #compnos="ngModel" />
                <div *ngIf="f.submitted && !compnos.valid" class="help-block">compnos is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !naturecode.valid }">
                <label for="naturecode">naturecode
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].naturecode, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.naturecode" [typeahead]="properties[0].naturecode" name="naturecode" class="form-control">
                <div *ngIf="f.submitted && !naturecode.valid" class="help-block">naturecode is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !incident_type_description.valid }">
                <label for="incident_type_description">incident_type_description
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].incident_type_description, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.incident_type_description" [typeahead]="properties[0].incident_type_description" name="incident_type_description"
                    class="form-control">
                <div *ngIf="f.submitted && !incident_type_description.valid" class="help-block">incident_type_description is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !main_crimecode.valid }">
                <label for="main_crimecode">main_crimecode
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].main_crimecode, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.main_crimecode" [typeahead]="properties[0].main_crimecode" name="main_crimecode" class="form-control">
                <div *ngIf="f.submitted && !main_crimecode.valid" class="help-block">main_crimecode is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !reptdistrict.valid }">
                <label for="reptdistrict">reptdistrict
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].reptdistrict, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.reptdistrict" [typeahead]="properties[0].reptdistrict" name="reptdistrict" class="form-control">
                <div *ngIf="f.submitted && !reptdistrict.valid" class="help-block">reptdistrict is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !reportingarea.valid }">
                <label for="reportingarea">reportingarea
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].reportingarea, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.reportingarea" [typeahead]="properties[0].reportingarea" name="reportingarea" class="form-control">
                <div *ngIf="f.submitted && !reportingarea.valid" class="help-block">reportingarea is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fromdate.valid }">
                <label for="fromdate">fromdate</label>
                <input type="text" class="form-control" name="fromdate" [mdDatepicker]="d" [(ngModel)]="model.fromdate" #fromdate="ngModel" required />
                <input [mdDatepicker]="myDatepicker">
                <md-datepicker #myDatepicker startView="year" [startAt]="model.fromdate"></md-datepicker>
                <div *ngIf="f.submitted && !fromdate.valid" class="help-block">fromdate is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !weapontype.valid }">
                <label for="weapontype">weapontype
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].weapontype, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.weapontype" [typeahead]="properties[0].weapontype" name="weapontype" class="form-control">
                <div *ngIf="f.submitted && !weapontype.valid" class="help-block">weapontype is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !shooting.valid }">
                <label for="shooting">shooting</label>
                <input type="text" class="form-control" name="shooting" [(ngModel)]="model.shooting" #shooting="ngModel" required />
                <div *ngIf="f.submitted && !shooting.valid" class="help-block">shooting is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !domestic.valid }">
                <label for="domestic">domestic</label>
                <input type="text" class="form-control" name="domestic" [(ngModel)]="model.domestic" #domestic="ngModel" required />
                <div *ngIf="f.submitted && !domestic.valid" class="help-block">domestic is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !shift.valid }">
                <label for="shift">case_shift
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].shift, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.shift" [typeahead]="properties[0].shift" name="shift" class="form-control">
                <div *ngIf="f.submitted && !shift.valid" class="help-block">shift is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !year.valid }">
                <label for="year">year</label>
                <input type="text" class="form-control" name="year" [(ngModel)]="model.year" #year="ngModel" required />
                <div *ngIf="f.submitted && !year.valid" class="help-block">year is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !month.valid }">
                <label for="month">month</label>
                <input type="text" class="form-control" name="month" [(ngModel)]="model.month" #month="ngModel" required />
                <div *ngIf="f.submitted && !month.valid" class="help-block">month is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !day_week.valid }">
                <label for="day_week">day_week
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].day_week, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.day_week" [typeahead]="properties[0].day_week" name="day_week" class="form-control">
                <div *ngIf="f.submitted && !day_weak.valid" class="help-block">day_weak is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !ucrpart.valid }">
                <label for="ucrpart">ucrpart
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].ucrpart, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.ucrpart" [typeahead]="properties[0].ucrpart" name="ucrpart" class="form-control">
                <div *ngIf="f.submitted && !ucrpart.valid" class="help-block">ucrpart is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !x.valid }">
                <label for="x">x</label>
                <input type="text" class="form-control" name="x" [(ngModel)]="model.x" #x="ngModel" required />
                <div *ngIf="f.submitted && !x.valid" class="help-block">x is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !y.valid }">
                <label for="y">y</label>
                <input type="text" class="form-control" name="y" [(ngModel)]="model.y" #y="ngModel" required />
                <div *ngIf="f.submitted && !y.valid" class="help-block">y is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !streetname.valid }">
                <label for="streetname">streetname
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].streetname, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.streetname" [typeahead]="properties[0].streetname" name="streetname" class="form-control">
                <div *ngIf="f.submitted && !streetname.valid" class="help-block">streetname is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !xstreetname.valid }">
                <label for="xstreetname">xstreetname
                                    <button md-icon-button
                                            (click)="selectProperties(properties[0].xstreetname, $event)">
                                        <md-icon>announcement</md-icon>
                                    </button>
                                </label>
                <input [(ngModel)]="model.xstreetname" [typeahead]="properties[0].xstreetname" name="xstreetname" class="form-control">
                <div *ngIf="f.submitted && !xstreetname.valid" class="help-block">xstreetname is required</div>

            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !location.valid }">
                <label for="location">location</label>
                <input type="text" class="form-control" name="location" [(ngModel)]="model.location" #location="ngModel" required />
                <div *ngIf="f.submitted && !location.valid" class="help-block">location is required</div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Register</button>
                <a (click)=goBack() class="btn btn-error">Cancel</a>
            </div>
        </form>
    </div>
</div>