<div *ngIf='case'>
  <legend>Define a case:</legend>
    <label for="compnos">compnos:</label>
    <input [(ngModel)]="case.compnos" name="compnos" type="Number"/>
    <label for="naturecode">naturecode:</label>
    <input [(ngModel)]="case.naturecode" name="naturecode" type="text"/>
    <label for="incident_type_description">incident_type_description:</label>
    <input [(ngModel)]="case.incident_type_description" name="incident_type_description" type="text"/>
    <label for="main_crimecode">main_crimecode:</label>
    <input [(ngModel)]="case.main_crimecode" name="main_crimecode" type="text"/>
    <label for="reptdistrict">reptdistrict:</label>
    <input [(ngModel)]="case.reptdistrict" name="reptdistrict" type="text"/>
    <label for="reportingarea">reportingarea:</label>
    <input [(ngModel)]="case.reportingarea" name="reportingarea" type="number"/>
    <label for="fromdate">fromdate:</label>
    <input [(ngModel)]="case.fromdate" name="fromdate" type="text"/>
    <label for="weapontype">weapontype:</label>
    <input [(ngModel)]="case.weapontype" name="weapontype" type="text"/>
    <label for="shooting">shooting:</label>
    <input [(ngModel)]="case.shooting" name="shooting" type="text"/>
    <label for="domestic">domestic:</label>
    <input [(ngModel)]="case.domestic" name="domestic" type="text"/>
    <label for="shift">shift:</label>
    <input [(ngModel)]="case.shift" name="shift" type="text"/>
    <label for="year">year:</label>
    <input [(ngModel)]="case.year" name="year" type="number"/>
    <label for="month">month:</label>
    <input [(ngModel)]="case.month" name="month" type="number"/>
    <label for="day_weak">day_weak:</label>
    <input [(ngModel)]="case.day_weak" name="day_weak" type="text"/>
    <label for="ucrpart">ucrpart:</label>
    <input [(ngModel)]="case.ucrpart" name="ucrpart" type="text"/>
    <label for="x">x:</label>
    <input [(ngModel)]="case.x" name="x" type="number"/>
    <label for="y">y:</label>
    <input [(ngModel)]="case.y" name="y" type="number"/>
    <label for="streetname">streetname:</label>
    <input [(ngModel)]="case.streetname" name="streetname" type="text"/>
    <label for="xstreetname">xstreetname:</label>
    <input [(ngModel)]="case.xstreetname" name="xstreetname" type="text"/>
    <label for="location">location:</label>
    <input [(ngModel)]="case.location" name="location" type="text"/>
</div>
