<div class="show-cases">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-offset-3">
            <h1>MEAN CASES</h1>
        </div>
    </div>
    <div class="row">

            <div class="col-sm-3 col-md-offset-1" *ngFor="let case of cases" routerLink="/cases/{{ case._id }}" style="margin-bottom: 10px">
                <md-card class="example-card">
                <md-card-header>
                    <md-card-title>{{ case.incident_type_description }} {{ case.compnos }}</md-card-title>
                    <md-card-subtitle>{{ case.reportingarea }}</md-card-subtitle>
                  </md-card-header>
                  <md-card-content>
                    case: {{ case.location }}
                  </md-card-content>
                </md-card>
            </div>
    </div>
</div>
