<div class="show-cases">
    <div class="row">
        <div class="col-sm-6 col-md-offset-3">
            <h1>Elastic Search tool</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <legend>Elastic Tools:</legend>
            <ul>
                <li>Search on</li>
                <li>Search on</li>
                <li>Search on</li>
                <li>Search on</li>
            </ul>
        </div>
        <div class="col-md-10">
            <cases></cases>
        </div>
    </div>
</div>
