<div class="row">
    <div class="col-md-6 col-md-offset3">
        <h1>Elastic Search Results:</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6" *ngFor="let case of cases | 
                 paginate: { itemsPerPage: 8, 
                             currentPage: p, 
                             totalItems: total }" style="margin-bottom: 10px">
            <md-card class="example-card">
                <md-card-header>
                    <md-card-title>
                        <h3 class="md-headline">{{ case.incident_type_description }}</h3>
                        <legend class="md-subhead">{{ case.compnos }}</legend>
                    </md-card-title>
                    <md-card-subtitle>{{ case.reportingarea }}</md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    Begin : {{ case.fromdate | date:medium}}
                </md-card-content>
    <agm-map [latitude]="getX(case.location)" [longitude]="getY(case.location)">
            <agm-marker [latitude]="getX(case.location)" [longitude]="getY(case.location)"></agm-marker>
    </agm-map>
                <md-card-actions layout="row" layout-align="end center">
                    <button md-icon-button (click)="getMap(case.location)">
                        <md-icon>location_searching</md-icon>
                    </button>
                    <button md-icon-button (click)="selectCase(case)">
                        <md-icon>create</md-icon>
                    </button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <pagination-controls (pageChange)="p = $event" styles="font"></pagination-controls>
        </div>
    </div>
</div>