<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="home-page">
            <div class="presentation">
                <h1>Bienvenue sur Police Cases Analytics</h1>
                <p>
                    Ce logiciel permet de donner un accès aux archives de la police.<br />
                    Il a été développé par Aurélien, Stéphane et Jean.<br />
                    Il a été codé avec la stack MEAN, à cela s'ajoute de nombreux modules angular2-4 ainsi que ElasticSearch<br />
                </p>
            </div>
        </div>
    </div>
</div>
